<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IUserinfo">

    <insert id="addUser" parameterType="UserInfo"
            useGeneratedKeys="true" keyProperty="id">
        insert into account (username, pwd, email)
        values (#{username}, #{pwd}, #{email})
    </insert>

    <insert id="addUserAndQuery" useGeneratedKeys="true" keyProperty="id">
        insert into account (username, pwd, email)
        values (#{username}, #{pwd}, #{email})
        <selectKey resultType="int" keyProperty="id">
            select @@identity;
        </selectKey>
    </insert>


    <!-- 单表删除语句-->
    <delete id="deleteUser" parameterType="Long">
        delete from account where id = #{id}
    </delete>

    <!-- 单表更新语句-->
    <update id="updateUser">
        update account
        set username = #{username}, email = #{email}
        where id = #{id}
    </update>

    <!-- 单表查询语句-->
    <select id="queryById" resultType="UserInfo" parameterType="Long">
        select id, username, pwd, email
        from account
        where id = #{id}
    </select>

    <select id="queryAll" resultType="UserInfo">
        select id, username, pwd, email
        from account
    </select>

    <!-- 模糊查询-->
    <select id="queryByLike" resultType="UserInfo">
        select id,username,email
        from account
        where email like concat('%', #{qq},'%')
    </select>

    <select id="queryNyLike1" resultType="UserInfo">
        select id,username,email
        from account
        where email like '%${value}%'
    </select>
    
    
    <!-- 多表连接实现一对多关联查询-->
    <resultMap id="workinfoMapper" type="UserInfo">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="pwd" property="pwd"/>
        <result column="email" property="email"/>
        <collection property="workexperience" ofType="WorkInfo">
            <id column="work_id" property="work_id"/>
            <result column="company" property="company"/>
            <result column="position" property="position"/>
            <result column="duty" property="duty"/>
            <result column="departure" property="departure"/>
            <result column="user_id" property="user_id"/>
        </collection>

    </resultMap>
    <select id="queryWorkExperienceByUserId" resultMap="workinfoMapper">
        select id, username, email, work_id, company, position, duty, user_id
        from account, work_info
        where account.id = #{idCondition} and user_id = account.id
    </select>

    <!-- 多表单独查询实现一对多关联查询-->
    <select id="queryWorkExperienceByUserIdSingleTable" resultMap="experienceMapper">
        select id, username, email from account where id = #{idCondition}
    </select>

    <select id="queryWorkExperience" resultType="WorkInfo">
        select work_id, company, position, duty, user_id
        from work_info where user_id = #{id}
    </select>

    <resultMap id="experienceMapper" type="UserInfo">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="pwd" property="pwd"/>
        <result column="email" property="email"/>

        <collection property="workexperience" ofType="WorkInfo"
                    select="queryWorkExperience" column="id">
            <id column="work_id" property="work_id"/>
            <result column="company" property="company"/>
            <result column="position" property="position"/>
            <result column="duty" property="duty"/>
            <result column="departure" property="departure"/>
            <result column="user_id" property="user_id"/>
        </collection>
    </resultMap>
</mapper>