<?xml version="1.0" encoding="utf-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-3.0.xsd">


    <bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean" id="jobDetail">
        <property name="group" value="job_work"/>
        <property name="name" value="job_work_name"/>
        <property name="concurrent" value="false"/>
        <property name="targetObject" ref="tagServiceTask"/>
        <property name="targetMethod" value="updateConferenceTag"/>
    </bean>

    <!-- 注册调度触发器-->
    <bean class="org.springframework.scheduling.quartz.CronTriggerFactoryBean" id="trigger">
        <property name="name" value="work_default_name"/>
        <property name="group" value="work_default"/>
        <property name="jobDetail" ref="jobDetail"/>
        <property name="cronExpression" value="0 0 0 * * ?"/>
        <!--<property name="cronExpression" value="0 */20 * * * ?"/>-->
    </bean>

    <bean id="jobUpdateTag" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean" >
        <property name="concurrent" value="false"/>
        <property name="targetObject" ref="updateTagTask"/>
        <property name="targetMethod" value="updateTopTags"/>
    </bean>

    <bean id="trigger2" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobUpdateTag"/>
        <property name="cronExpression" value="0 0 1 * * ?"/>
    </bean>

    <!-- 注册调度工厂-->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean" id="scheduler">
        <property name="triggers">
            <list>
                <ref bean="trigger"/>
                <ref bean="trigger2"/>
            </list>
        </property>
        <property name="waitForJobsToCompleteOnShutdown" value="true"/>
    </bean>
    <!--<task:executor id="executor" pool-size="1"/>-->
    <!--<task:scheduler id="scheduler" pool-size="1"/>-->
    <!--<task:annotation-driven executor="executor" scheduler="scheduler" />-->

    <!--<context:component-scan base-package="cn.hurrican.service.*"/>-->
</beans>