<?xml version="1.0" encoding="utf-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--
    <bean id="accountMsgService" class="Service全限定类名">
        <property name="dao" ref="Dao接口名"/>
    </bean>
    -->
    <bean class="cn.hurrican.constant.QQEmailConfig" id="qqEmailConfig">
        <property name="auth" value="true"/>
        <property name="host" value="smtp.exmail.qq.com"/>
        <property name="port" value="465"/>
        <property name="protocol" value="smtp"/>
        <property name="username" value="wx@zsn.cc"/>
        <property name="password" value="7213723Wx"/>
        <property name="enableSSL" value="true"/>
        <property name="openDebug" value="true"/>
        <property name="senderNickname" value="小程序后台运营中心"/>
    </bean>


    <bean id="appConfig" class="cn.hurrican.constant.AppConfig">
        <property name="appid" value="wx23beb15eed9c5f87"/>
        <property name="appSecret" value="9412367621b3a73c890bff166669006c"/>
    </bean>

    <context:component-scan base-package="cn.hurrican.service.*"/>
</beans>