<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IWorkInfoDao">
    <!-- 单表插入语句-->
    <insert id="addWorkInfo" parameterType="WorkInfo"
            useGeneratedKeys="true" keyProperty="work_id">
        insert into work_info(company, position, duty, departure)
        values(#{company},#{position},#{duty},#{departure})
    </insert>

    <resultMap id="workInfoResultMap" type="WorkInfo">
        <id column="work_id" property="work_id"/>
        <result column="company" property="company"/>
        <result column="position" property="position"/>
        <result column="duty" property="duty"/>
        <result column="departure" property="departure"/>
        <result column="user_id" property="user_id"/>
    </resultMap>

    <!-- 多条件查询语句-->
    <select id="queryWorkInfoByManyConditions" resultMap="workInfoResultMap">
        select work_id,company,position,duty,departure,user_id
        from work_info
        where user_id = #{idCon} and position like concat(#{posCon} ,'%')
    </select>

    <select id="queryWorkInfoByNumberIndex" resultMap="workInfoResultMap">
        select work_id,company,position,duty,departure,user_id
        from work_info
        where user_id = #{0} and position like concat(#{1} ,'%')
    </select>
    <!--
    模糊查询
    <select id="queryByLike" resultType="TypeName">
        select field1,field2,field3 from tablename 
        where field? like concat('%', #{xxx},'%')
    </select>
  -->
</mapper>